services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php_app
    ports:
      - "7000:80"   # ⬅️ SHU YER
    volumes:
      - ./main-file:/var/www/html
    depends_on:
      - mysql
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql_data:
